
.main{
    background-color: rgb(1,1,17);
    padding-top: 1px;
    
}
body{
    background-color: rgb(1, 1, 40);
}
.nav-item{
    margin: 0px 5px;
}
.nav-name{
    color: white;
    font-size: 35px;
    font-weight: 700;
    text-decoration: none;
}
.nav-link{
    font-size: 14px;
    font-weight: 500;
    color: white;
    transition: 0.2s ease-in-out;
}
.nav-link:hover{
    color: black;
    background-color: white;
    border-radius: 3px;
}
.nav-btn{
    padding: 11px 25px;
    border: 2px solid rgb(208,86,0);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: rgb(255, 160, 92);
    border-radius: 2px;
    margin-left: 16px;
    transition: 0.2s ease-in;
}
.nav-btn:hover{
    background-color: orangered;
    color: white;
    border: 2px solid orangered ;
}
.home_section{
    width: 100%;
    height: 80vh;
}
.container_content_home{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img_box_container{
    width: 150px;
    height: 150px;
    background-image: url(img/1571362818864-modified.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.heading_home{
    font-size: 52px;
    font-weight: 700;
    color: rgb(236, 124, 241);
    padding: 15px 0px;
}
.heading_title{
    font-size:16px ;
    color: white;
    font-weight: 600;
    margin: -10px 0px;
}
.social_media_container{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.icont{
    color: white;
    margin-right: 10px;
}
.github{
    margin-top: -3.2px;
}
.btn-home{
    display: inline-block;
    padding: 12px 40px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: rgb(250, 76, 76);
    outline: none;
    border-radius: 40px;
    text-decoration: none;
}
.btn-home:hover{
    background-color: rgb(235, 181, 82);
    color: rgb(2, 2, 76);
}
.about{
    height: auto;
    padding: 80px 0px;
}
.about_headings{
    text-align: center;
}
.img_about{
    width: 50px;
    margin: 30px 0px;
}
.heading_title_about{
    font-size: 12px;
    color: rgb(239, 230, 230);
    font-weight: 800;
    text-transform: uppercase;
}
.title_about{
    font-size: 46px;
    font-weight: 800;
    color: white;

}
.content_about{
    padding: 60px 20px 0px 100px;
}
.about_1,.about_3,.about_5,.about_7{
    padding: 19px 36px;
    margin: 9px;
    border-radius: 8px;
    background-color: rgba(18, 26, 52, 0.72);
}
.about_2,.about_4,.about_6{
    padding: 19px 36px;
    margin: 9px;
}
.about_data{
    font-size: 14px;
    color: white;
    font-weight: 600;
    margin: 0px;
}
.image_container_about{
    height: 100%;
    padding: 60px 0px;
}
.image_box_about{
    width: 80%;
    height: 100%;
    background-image: url(img/what-is-a-full-stack-developer-1024x512.png);
    border-radius: 18px;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
}

.box_container_about{
    width: 100%;
    padding: 0px 50px;
    padding-top: 40px;
}
.box_1{
    width: 240px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 8px solid rgba(250, 239, 239, 0.872);
    border-top: 8px solid blue;
    border-left: 8px solid blue;
    border-radius: 16px;
}
.number{
    font-size:51px ;
    font-weight: 700;
    margin: 3px 0px;
    color: rgb(241, 234, 234);
}
.skill{
    font-size: 17px;
    font-weight: 500;
    color: rgba(192, 249, 255, 0.92);
}
.skill_main{
    background-color:rgb(2, 28, 47); ;
}
.skills{
    padding: 80px 120px;
    width: 100%;
    height: 100vh;
}
.heading_skills_container{
    text-align: center;
    width: 100%;
}
.heading_skill{
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 700;
    margin:16px 0px;
    color: white;
}
.heading_skill_about{
    font-size: 14px;
    font-weight: 500;
    color: aliceblue;
}
.content_skills{
    padding: 80px 50px 0px 150px;
    width: 100%;
}
.right_side{
    padding: 80px 180px 0px 20px;
}
.heading_content_skills{
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: end;
    color: white;
}
.heading_content_title{
    font-size: 13px;
    text-align: end;
    color: rgba(240, 248, 255, 0.915);
}
.skill_lable{
    font-size: 14px;
    font-weight: 700;
    margin: 9px 0px;
    color: rgb(245, 237, 237);
}
.progress{
    margin-bottom: 22px;
    height: 11px;
}
.progress-bar{
    background-color: blue;
}
.footer{
    background-color: rgb(2, 2, 33);
}
.heading-section{
    color: rgb(239, 230, 230);
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 100px;
}

.copyright{
    color: white;
}
.writeus{
    color: white;
}
.info{
    color: white;
}
.con_icon{
    color: wheat;
    margin-right: 0.5cm;
}
.con_tag{
    color: whitesmoke;
}
.con_link{
    text-decoration: none;
    color: rgb(185, 197, 207);
}
input{
    width: 100%;
    color: white;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
    background: transparent;
}
.sub_mit{
    margin-top: 20px;
}