@media (max-width:992px){
    .bars{
        width: 30px;
        color: white;
    }
    .navbar-nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-item{
        margin: 8px 0px;
    }
    .nav-link{
        font-size: 15px;
    }
    .nav-btn{
        display: block;
        margin: 6px 0px;
    }
}

@media (max-width:513px){
    .heading_title{
        text-align: center;
        font-size: 14px;
    }
    .heading_home{
        text-align: center;
        font-size: 30px;
    }
}
@media (max-width:441px){
    body{
        background-color: rgb(1,1,17);
    }
}